header {
  border-top: 3px solid brown;
  margin: 3px 3px 3px 3px;
  background: #97a021;
  color: #140a1b;
  font-family: sans-ser;
  text-align-last: center;
}

.header-detailer {
  margin-top: 0;
  margin-bottom: 0;
}

nav {
  text-align: center;
}

ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #97a021;
  display: block;
}

ol {
  display: inline;
  color: #0c0000;
  text-align: center;
  padding: 1, 7rem 1, 7rem;
  text-decoration: none;
}

a {
  color: #0c0000;
}

ol a:hover {
  background: #97a021;
}


.forstatitel {
  color: #a52a2a;
}

.andratitel {
  color: #da1414;
}

footer {
  text-align: center;
  margin: 2cm;
}