header {
  padding: 10px;
  border-top: 5px solid rgb(168, 1, 1);
  margin: 5px 5px 5px 5px;
  background: #faf9f8;
  color: #0d0c0e;
  font-family: sans-ser;
  font-size: 1rem;
  text-align-last: center;

}

.header-detailer {
  margin-top: 0;
  margin-bottom: 0;
}

nav {
  text-align: center;
}

ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #d1c4c4;
  display: block;
}

li {
  display: inline;
  color: rgb(5, 5, 5);
  text-align: center;
  padding: 1, 7rem 1, 7rem;
  text-decoration: none;
}

a {
  color: #0c0000;
}

li a:hover {
  background: #97a021;
}


.forstatitel {
  color: #a52a2a;
}

.andratitel {
  color: #da1414;
}

footer {
  text-align: center;
  margin: 2cm;
}